com.cosco.edi/文档/海关新舱单/81号公告/1.中国海关进出境水运、空运货物舱单报文XML Schema/Manifest_Packing_Ship.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:Declaration:datamodel:standard:CN:7101:1" xmlns:xdb="http://xmlns.oracle.com/xdb" targetNamespace="urn:Declaration:datamodel:standard:CN:7101:1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Manifest" type="Manifest">
		<xs:annotation>
			<xs:documentation>水运装箱清单申报</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Manifest">
		<xs:annotation>
			<xs:documentation>水运装箱清单申报</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Head" type="Head">
				<xs:annotation>
					<xs:documentation>报文头</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Declaration">
				<xs:annotation>
					<xs:documentation>报文体</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="Declaration"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Head">
		<xs:annotation>
			<xs:documentation>报文头</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MessageID">
				<xs:annotation>
					<xs:documentation>报文编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FunctionCode">
				<xs:annotation>
					<xs:documentation>017 报文功能代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MessageType">
				<xs:annotation>
					<xs:documentation>001 报文类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SenderID">
				<xs:annotation>
					<xs:documentation>发送方代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReceiverID">
				<xs:annotation>
					<xs:documentation>接受方代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SendTime">
				<xs:annotation>
					<xs:documentation>发送时间 格式:YYYYMMDDhhmmssfff</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version">
				<xs:annotation>
					<xs:documentation>报文版本</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Declaration">
		<xs:annotation>
			<xs:documentation>报文体</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RepresentativePerson" type="RepresentativePerson">
				<xs:annotation>
					<xs:documentation>装箱清单传输人信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeclarationOfficeID">
				<xs:annotation>
					<xs:documentation>065 Customs office of declaration, coded 申报地海关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BorderTransportMeans" type="BorderTransportMeans">
				<xs:annotation>
					<xs:documentation>运输工具信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportEquipment" type="TransportEquipment" maxOccurs="9999">
				<xs:annotation>
					<xs:documentation>集装箱（器）信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInformation" type="AdditionalInformation">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RepresentativePerson">
		<xs:annotation>
			<xs:documentation>舱单传输人信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name">
				<xs:annotation>
					<xs:documentation>256 Representative person name 装箱清单传输人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BorderTransportMeans">
		<xs:annotation>
			<xs:documentation>运输工具信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="JourneyID">
				<xs:annotation>
					<xs:documentation>149 Conveyance reference number 航次航班编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode">
				<xs:annotation>
					<xs:documentation>183 Mode/type of means of transport crossing the border code 运输方式代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ID">
				<xs:annotation>
					<xs:documentation>167 Identification of means of transport crossing the border code 运输工具代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name">
				<xs:annotation>
					<xs:documentation>160 Identification of means of transport crossing the border 运输工具名称</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Consignment">
		<xs:annotation>
			<xs:documentation>提运单信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TransportContractDocument" type="TransportContractDocument">
				<xs:annotation>
					<xs:documentation>运输合同信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AssociatedTransportDocument" type="AssociatedTransportDocument" minOccurs="0">
				<xs:annotation>
					<xs:documentation>运输合同附加信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsStatusCode" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>094 Customs status of goods code 货物海关状态代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Consignee" type="Consignee">
				<xs:annotation>
					<xs:documentation>收货人信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NotifyParty" type="NotifyParty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>通知人信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UNDGContact" type="UNDGContact" minOccurs="0">
				<xs:annotation>
					<xs:documentation>危险品联系人信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConsignmentItem" type="ConsignmentItem" minOccurs="0" maxOccurs="999">
				<xs:annotation>
					<xs:documentation>托运货物详细信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportContractDocument">
		<xs:annotation>
			<xs:documentation>运输合同信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID">
				<xs:annotation>
					<xs:documentation>015 Transport document number 总提运单号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Consolidator" type="Consolidator">
				<xs:annotation>
					<xs:documentation>拼箱信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssociatedTransportDocument">
		<xs:annotation>
			<xs:documentation>运输合同附加信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID">
				<xs:annotation>
					<xs:documentation>189 Associated transport document number 分提运单号</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LoadingLocation">
		<xs:annotation>
			<xs:documentation>装货地信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID">
				<xs:annotation>
					<xs:documentation>070 Place of loading, coded 装货地代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoadingDate">
				<xs:annotation>
					<xs:documentation>031 Consignment loading date 货物装载运输工具时间  格式为：YYYYMMDDhhmmZZZ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Communication">
		<xs:annotation>
			<xs:documentation>通讯方式信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID">
				<xs:annotation>
					<xs:documentation>240 Communication number 通讯方式号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeID">
				<xs:annotation>
					<xs:documentation>253 Communication number Type 通讯方式类别代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Consignee">
		<xs:annotation>
			<xs:documentation>收货人信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>052 Consignee coded 收货人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name">
				<xs:annotation>
					<xs:documentation>051 Consignee name 收货人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="ConsigneeAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>收货人地址信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Communication" type="Communication" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>收货人联系方式</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Contact" type="Contact" minOccurs="0">
				<xs:annotation>
					<xs:documentation>收货具体联系人信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsigneeAddress">
		<xs:annotation>
			<xs:documentation>收货人地址信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Line" minOccurs="0">
				<xs:annotation>
					<xs:documentation>239 Street and number/P.O.Box 详细地址（街道,邮箱）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CityName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>241 City name 城市名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountrySubEntityID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>244 Country sub-entity 省份代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountrySubEntityName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>243 Country sub-entity，name 省份名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostcodeID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>245 Postcode identification 邮政编码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>242 Country code 国家代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Consolidator">
		<xs:annotation>
			<xs:documentation>拼箱信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID">
				<xs:annotation>
					<xs:documentation>193 Consolidator, coded 拼箱人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NotifyParty">
		<xs:annotation>
			<xs:documentation>通知人信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>058 Notify party code  通知人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name">
				<xs:annotation>
					<xs:documentation>057 Notify party 通知人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="NotifypartyAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>通知人地址信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Communication" type="Communication" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>通知人联系方式</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NotifypartyAddress">
		<xs:annotation>
			<xs:documentation>通知人地址信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Line" minOccurs="0">
				<xs:annotation>
					<xs:documentation>239 Street and number/P.O.Box 详细地址（街道,邮箱）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CityName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>241 City name 城市名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountrySubEntityID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>244 Country sub-entity 省份代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountrySubEntityName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>243 Country sub-entity，name 省份名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostcodeID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>245 Postcode identification 邮政编码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>242 Country code 国家代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UNDGContact">
		<xs:annotation>
			<xs:documentation>危险品联系人信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name">
				<xs:annotation>
					<xs:documentation>045 Dangerous goods contact details 危险品联系人姓名</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Communication" type="Communication" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>危险品联系人联系方式</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Contact">
		<xs:annotation>
			<xs:documentation>具体联系人信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name">
				<xs:annotation>
					<xs:documentation>246 Department or employee contact name 具体联系人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Communication" type="Communication" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>具体联系人联系方式i</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportEquipment">
		<xs:annotation>
			<xs:documentation>集装箱信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EquipmentIdentification" type="EquipmentIdentification">
				<xs:annotation>
					<xs:documentation>集装箱（器）编号信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoadingLocation" type="LoadingLocation">
				<xs:annotation>
					<xs:documentation>装货地信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CharacteristicCode">
				<xs:annotation>
					<xs:documentation>152 Equipment size and type identification 集装箱（器）尺寸和类型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplierPartyTypeCode">
				<xs:annotation>
					<xs:documentation>151 Equipment supplier type code 集装箱（器）来源代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SealID" maxOccurs="9">
				<xs:annotation>
					<xs:documentation>165 Seal number 封志号码，类型和施加封志人</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="AgencyCode" use="required">
						<xs:annotation>
							<xs:documentation>230 Seal agency, coded 施加封志人</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Consignment" type="Consignment" maxOccurs="9999">
				<xs:annotation>
					<xs:documentation>提运单信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EquipmentIdentification">
		<xs:annotation>
			<xs:documentation>集装箱（器）编号信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID">
				<xs:annotation>
					<xs:documentation>159 Equipment identification number 集装箱（器）编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReferenceID">
				<xs:annotation>
					<xs:documentation>UNTDED 1154 装箱单编号</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsignmentItem">
		<xs:annotation>
			<xs:documentation>托运货物详细信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SequenceNumeric">
				<xs:annotation>
					<xs:documentation>006 Consignment item sequence number 托运货物序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConsignmentItemPackaging" type="ConsignmentItemPackaging">
				<xs:annotation>
					<xs:documentation>托运货物详细包装信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Commodity" type="Commodity">
				<xs:annotation>
					<xs:documentation>货物简要信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInformation" type="AdditionalInformation">
				<xs:annotation>
					<xs:documentation>补充信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsMeasure" type="GoodsMeasure">
				<xs:annotation>
					<xs:documentation>货物数量信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UCR" type="UCR" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>唯一托运信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsignmentItemPackaging">
		<xs:annotation>
			<xs:documentation>托运货物详细包装信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="QuantityQuantity">
				<xs:annotation>
					<xs:documentation>139 Number of packages per commodity 货物详细件数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode">
				<xs:annotation>
					<xs:documentation>141 Type of packages identification 包装种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarksNumbers">
				<xs:annotation>
					<xs:documentation>142 Shipping marks  唛头</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsMeasure">
		<xs:annotation>
			<xs:documentation>货物数量信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GrossMassMeasure">
				<xs:annotation>
					<xs:documentation>126 Gross weight item level 货物毛重</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UCR">
		<xs:annotation>
			<xs:documentation>唯一托运信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID">
				<xs:annotation>
					<xs:documentation>016 Unique consignment reference number 唯一托运编号</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Commodity">
		<xs:annotation>
			<xs:documentation>货物简要信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CargoDescription">
				<xs:annotation>
					<xs:documentation>138 Brief cargo description  货物简要描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UNDGCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>143 UNDG Number(Dangerous Goods Code) 危险品编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TariffClassificationCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>145 Tariff code number(Customs) 海关税则编号（6位HS CODE）</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdditionalInformation">
		<xs:annotation>
			<xs:documentation>补充信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Content">
				<xs:annotation>
					<xs:documentation>105 Free text 备注</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
