trunk/com.cosco.edi/文档/海关新舱单/中国海关进出境舱单传输报文公告（征求意见稿）/附件4：中国海关进出境舱单报文结构定义/附件4：中国海关进出境舱单报文结构定义/Manifest_Packing_Ship.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by lei_ying (szc) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:decl="urn:Declaration:datamodel:standard:CN:7101:1" xmlns:Head="Head" xmlns:Declaration="Declaration" xmlns:xdb="http://xmlns.oracle.com/xdb" xmlns:Message="Message" targetNamespace="urn:Declaration:datamodel:standard:CN:7101:1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="Head" schemaLocation="Type/HeadDefine.xsd"/>
	<xs:import namespace="Declaration" schemaLocation="Type/DeclarationDefine.xsd"/>
	<xs:import namespace="Message" schemaLocation="Type/MessageDefine.xsd"/>
	<xs:element name="Manifest" type="decl:Manifest">
		<xs:annotation>
			<xs:documentation>海运装箱清单申报</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Manifest">
		<xs:annotation>
			<xs:documentation>海运装箱清单申报</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Head" type="decl:Head">
				<xs:annotation>
					<xs:documentation>报文头</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Declaration">
				<xs:annotation>
					<xs:documentation>报文体</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="decl:Declaration">
							
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
				<xs:unique name="TransportEquipmentIDUnique">
					<xs:annotation>
						<xs:documentation>约束：同一报文中集装箱号唯一</xs:documentation>
					</xs:annotation>
					<xs:selector xpath="decl:TransportEquipment"/>
					<xs:field xpath="decl:EquipmentIdentification/decl:ID"/>
				</xs:unique>
				<xs:unique name="TransportEquipmentReferenceIDUnique">
					<xs:annotation>
						<xs:documentation>约束：同一报文中装箱单号唯一</xs:documentation>
					</xs:annotation>
					<xs:selector xpath="decl:TransportEquipment"/>
					<xs:field xpath="decl:EquipmentIdentification/ReferenceID"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--报文头结构定义-->
	<xs:complexType name="Head">
		<xs:annotation>
			<xs:documentation>报文头</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MessageID" type="Head:HeadMessageIdentificationIdentifier">
				<xs:annotation>
					<xs:documentation>报文编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FunctionCode" type="Head:DeclarationFunctionCode">
				<xs:annotation>
					<xs:documentation>017 报文功能代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MessageType" type="Head:DeclarationTypeCode">
				<xs:annotation>
					<xs:documentation>001 报文类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SenderID" type="Head:HeadSenderIdentificationIdentifier">
				<xs:annotation>
					<xs:documentation>发送方代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReceiverID" type="Head:HeadReceiverIdentificationIdentifier">
				<xs:annotation>
					<xs:documentation>接受方代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SendTime" type="Head:HeadSendDateTime">
				<xs:annotation>
					<xs:documentation>发送时间 格式:YYYYMMDDhhmmssfff</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" type="Head:HeadVersionText">
				<xs:annotation>
					<xs:documentation>报文版本</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Declaration">
		<xs:annotation>
			<xs:documentation>报文体</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RepresentativePerson" type="decl:RepresentativePerson">
				<xs:annotation>
					<xs:documentation>装箱清单传输人信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeclarationOfficeID" type="Declaration:DeclarationDeclarationOfficeIdentifier">
				<xs:annotation>
					<xs:documentation>065 Customs office of declaration, coded 申报地海关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BorderTransportMeans" type="decl:BorderTransportMeans">
				<xs:annotation>
					<xs:documentation>运输工具信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportEquipment" type="decl:TransportEquipment" maxOccurs="9999">
				<xs:annotation>
					<xs:documentation>集装箱（器）信息</xs:documentation>
				</xs:annotation>
				<xs:unique name="ConsignmentUnique">
					<xs:annotation>
						<xs:documentation>约束：总提运单+分提运单在同一份报文中不重复</xs:documentation>
					</xs:annotation>
					<xs:selector xpath="decl:Consignment"/>
					<xs:field xpath="decl:AssociatedTransportDocument/decl:ID"/>
					<xs:field xpath="decl:TransportContractDocument/decl:ID"/>
				</xs:unique>
				<xs:unique name="SealIDUnique">
					<xs:annotation>
						<xs:documentation>约束：集装箱铅封号不重复</xs:documentation>
					</xs:annotation>
					<xs:selector xpath="decl:SealID"/>
					<xs:field xpath="."/>
				</xs:unique>
			</xs:element>
			<xs:element name="AdditionalInformation" type="decl:AdditionalInformation">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RepresentativePerson">
		<xs:annotation>
			<xs:documentation>舱单传输人信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="Declaration:RepresentativePersonNameText">
				<xs:annotation>
					<xs:documentation>256 Representative person name 装箱清单传输人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BorderTransportMeans">
		<xs:annotation>
			<xs:documentation>运输工具信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="JourneyID" type="Declaration:BorderTransportMeansJourneyIdentifier">
				<xs:annotation>
					<xs:documentation>149 Conveyance reference number 航次航班编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode" type="Declaration:BorderTransportMeansTypeCode">
				<xs:annotation>
					<xs:documentation>183 Mode/type of means of transport crossing the border code 运输方式代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ID" type="Declaration:BorderTransportMeansIdentificationIdentifier">
				<xs:annotation>
					<xs:documentation>167 Identification of means of transport crossing the border code 运输工具代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="Declaration:BorderTransportMeansNameText">
				<xs:annotation>
					<xs:documentation>160 Identification of means of transport crossing the border 运输工具名称</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Consignment">
		<xs:annotation>
			<xs:documentation>提运单信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TransportContractDocument" type="decl:TransportContractDocument">
				<xs:annotation>
					<xs:documentation>运输合同信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AssociatedTransportDocument" type="decl:AssociatedTransportDocument" minOccurs="0">
				<xs:annotation>
					<xs:documentation>运输合同附加信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsStatusCode" type="Declaration:ConsignmentCustomsStatusCode" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>094 Customs status of goods code 货物海关状态代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Consignee" type="decl:Consignee">
				<xs:annotation>
					<xs:documentation>收货人信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NotifyParty" type="decl:NotifyParty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>通知人信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UNDGContact" type="decl:UNDGContact" minOccurs="0">
				<xs:annotation>
					<xs:documentation>危险品联系人信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConsignmentItem" type="decl:ConsignmentItem" minOccurs="0" maxOccurs="999">
				<xs:annotation>
					<xs:documentation>托运货物详细信息</xs:documentation>
				</xs:annotation>
				<xs:unique name="UCRUnique">
					<xs:annotation>
						<xs:documentation>约束：同一票货物明细信息中UCR不重复</xs:documentation>
					</xs:annotation>
					<xs:selector xpath="decl:UCR"/>
					<xs:field xpath="decl:ID"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportContractDocument">
		<xs:annotation>
			<xs:documentation>运输合同信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="Declaration:TransportContractDocumentIdentificationIdentifier">
				<xs:annotation>
					<xs:documentation>015 Transport document number 总提运单号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Consolidator" type="decl:Consolidator">
				<xs:annotation>
					<xs:documentation>拼箱信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssociatedTransportDocument">
		<xs:annotation>
			<xs:documentation>运输合同附加信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="Declaration:AssociatedTransportDocumentIdentificationIdentifier">
				<xs:annotation>
					<xs:documentation>189 Associated transport document number 分提运单号</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LoadingLocation">
		<xs:annotation>
			<xs:documentation>装货地信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="Declaration:LoadingLocationIdentificationIdentifier">
				<xs:annotation>
					<xs:documentation>070 Place of loading, coded 装货地代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoadingDate" type="Declaration:LoadingLocationLoadingDate">
				<xs:annotation>
					<xs:documentation>031 Consignment loading date 货物装载运输工具时间  格式为：YYYYMMDDhhmmZZZ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Communication">
		<xs:annotation>
			<xs:documentation>通讯方式信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="Declaration:CommunicationIdentificationIdentifier">
				<xs:annotation>
					<xs:documentation>240 Communication number 通讯方式号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeID" type="Declaration:CommunicationTypeIdentifier">
				<xs:annotation>
					<xs:documentation>253 Communication number Type 通讯方式类别代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Consignee">
		<xs:annotation>
			<xs:documentation>收货人信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="Declaration:ConsigneeIdentificationIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>052 Consignee coded 收货人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="Declaration:ConsigneeNameText">
				<xs:annotation>
					<xs:documentation>051 Consignee name 收货人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="decl:ConsigneeAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>收货人地址信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Communication" type="decl:Communication" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>收货人联系方式</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Contact" type="decl:Contact" minOccurs="0">
				<xs:annotation>
					<xs:documentation>收货具体联系人信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsigneeAddress">
		<xs:annotation>
			<xs:documentation>收货人地址信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Line" type="Declaration:AddressLineText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>239 Street and number/P.O.Box 详细地址（街道,邮箱）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CityName" type="Declaration:AddressCityNameText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>241 City name 城市名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountrySubEntityID" type="Declaration:AddressCountrySubEntityIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>244 Country sub-entity 省份代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountrySubEntityName" type="Declaration:AddressCountrySubEntityNameText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>243 Country sub-entity，name 省份名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostcodeID" type="Declaration:AddressPostcodeIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>245 Postcode identification 邮政编码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryCode" type="Declaration:AddressCountryCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>242 Country code 国家代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Consolidator">
		<xs:annotation>
			<xs:documentation>拼箱信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="Declaration:ConsolidatorIdentificationIdentifier">
				<xs:annotation>
					<xs:documentation>193 Consolidator, coded 拼箱人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NotifyParty">
		<xs:annotation>
			<xs:documentation>通知人信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="Declaration:NotifyPartyIdentificationIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>058 Notify party code  通知人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="Declaration:NotifyPartyNameText">
				<xs:annotation>
					<xs:documentation>057 Notify party 通知人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="decl:NotifypartyAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>通知人地址信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Communication" type="decl:Communication" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>通知人联系方式</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NotifypartyAddress">
		<xs:annotation>
			<xs:documentation>通知人地址信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Line" type="Declaration:AddressLineText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>239 Street and number/P.O.Box 详细地址（街道,邮箱）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CityName" type="Declaration:AddressCityNameText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>241 City name 城市名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountrySubEntityID" type="Declaration:AddressCountrySubEntityIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>244 Country sub-entity 省份代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountrySubEntityName" type="Declaration:AddressCountrySubEntityNameText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>243 Country sub-entity，name 省份名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostcodeID" type="Declaration:AddressPostcodeIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>245 Postcode identification 邮政编码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryCode" type="Declaration:AddressCountryCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>242 Country code 国家代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UNDGContact">
		<xs:annotation>
			<xs:documentation>危险品联系人信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="Declaration:UNDGContactNameText">
				<xs:annotation>
					<xs:documentation>045 Dangerous goods contact details 危险品联系人姓名</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Communication" type="decl:Communication" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>危险品联系人联系方式</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Contact">
		<xs:annotation>
			<xs:documentation>具体联系人信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="Declaration:ContactNameText">
				<xs:annotation>
					<xs:documentation>246 Department or employee contact name 具体联系人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Communication" type="decl:Communication" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>具体联系人联系方式i</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportEquipment">
		<xs:annotation>
			<xs:documentation>集装箱信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EquipmentIdentification" type="decl:EquipmentIdentification">
				<xs:annotation>
					<xs:documentation>集装箱（器）编号信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoadingLocation" type="decl:LoadingLocation">
				<xs:annotation>
					<xs:documentation>装货地信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CharacteristicCode" type="Declaration:TransportEquipmentCharacteristicCode">
				<xs:annotation>
					<xs:documentation>152 Equipment size and type identification 集装箱（器）尺寸和类型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplierPartyTypeCode" type="Declaration:TransportEquipmentSupplierPartyTypeCode">
				<xs:annotation>
					<xs:documentation>151 Equipment supplier type code 集装箱（器）来源代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SealID" type="Declaration:SealNumber" maxOccurs="9">
				<xs:annotation>
					<xs:documentation>165 Seal number 封志号码，类型和施加封志人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Consignment" type="decl:Consignment" maxOccurs="9999">
				<xs:annotation>
					<xs:documentation>提运单信息</xs:documentation>
				</xs:annotation>
				<xs:unique name="CustomsStatusUnique">
					<xs:annotation>
						<xs:documentation>约束：同一提运单下货物海关状态代码不重复</xs:documentation>
					</xs:annotation>
					<xs:selector xpath="decl:CustomsStatus"/>
					<xs:field xpath="."/>
				</xs:unique>
				<xs:unique name="ConsignmentItemUnique">
					<xs:annotation>
						<xs:documentation>约束：托运货物序号在提运单下唯一</xs:documentation>
					</xs:annotation>
					<xs:selector xpath="decl:ConsignmentItem"/>
					<xs:field xpath="decl:SequenceNumeric"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EquipmentIdentification">
		<xs:annotation>
			<xs:documentation>集装箱（器）编号信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="Declaration:EquipmentIdentificationIdentificationIdentifier">
				<xs:annotation>
					<xs:documentation>159 Equipment identification number 集装箱（器）编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReferenceID" type="Declaration:EquipmentIdentificationReferenceIdentifier">
				<xs:annotation>
					<xs:documentation>UNTDED 1154 装箱单编号</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsignmentItem">
		<xs:annotation>
			<xs:documentation>托运货物详细信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SequenceNumeric" type="Declaration:ConsignmentItemSequenceNumeric">
				<xs:annotation>
					<xs:documentation>006 Consignment item sequence number 托运货物序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConsignmentItemPackaging" type="decl:ConsignmentItemPackaging">
				<xs:annotation>
					<xs:documentation>托运货物详细包装信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Commodity" type="decl:Commodity">
				<xs:annotation>
					<xs:documentation>货物简要信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInformation" type="decl:AdditionalInformation">
				<xs:annotation>
					<xs:documentation>补充信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsMeasure" type="decl:GoodsMeasure">
				<xs:annotation>
					<xs:documentation>货物数量信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UCR" type="decl:UCR" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>唯一托运信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsignmentItemPackaging">
		<xs:annotation>
			<xs:documentation>托运货物详细包装信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="QuantityQuantity" type="Declaration:ConsignmentItemPackagingQuantityQuantity">
				<xs:annotation>
					<xs:documentation>139 Number of packages per commodity 货物详细件数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode" type="Declaration:PackagingTypeCode">
				<xs:annotation>
					<xs:documentation>141 Type of packages identification 包装种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarksNumbers" type="Declaration:ConsignmentItemPackagingMarksNumbersText">
				<xs:annotation>
					<xs:documentation>142 Shipping marks  唛头</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsMeasure">
		<xs:annotation>
			<xs:documentation>货物数量信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GrossMassMeasure" type="Declaration:GoodsMeasureGrossMassMeasure">
				<xs:annotation>
					<xs:documentation>126 Gross weight item level 货物毛重</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UCR">
		<xs:annotation>
			<xs:documentation>唯一托运信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="Declaration:UCRIdentificationIdentifier">
				<xs:annotation>
					<xs:documentation>016 Unique consignment reference number 唯一托运编号</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Commodity">
		<xs:annotation>
			<xs:documentation>货物简要信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CargoDescription" type="Declaration:CommodityCargoDescriptionText">
				<xs:annotation>
					<xs:documentation>138 Brief cargo description  货物简要描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UNDGCode" type="Declaration:CommodityUNDGCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>143 UNDG Number(Dangerous Goods Code) 危险品编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TariffClassificationCode" type="Declaration:CommodityTariffClassificationCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>145 Tariff code number(Customs) 海关税则编号（6位HS CODE）</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdditionalInformation">
		<xs:annotation>
			<xs:documentation>补充信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Content" type="Declaration:AdditionalInformationContentText">
				<xs:annotation>
					<xs:documentation>105 Free text 备注</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
